@import "../../global";

.Container {
  display: block;
  margin: 5px 10px 5px 5px;
  width: calc(100% - 15px - 40px);
  height: calc(100% - 10px);
  background-color: white;
  font-size: #{$normal_font_size};
  font-family: "Mathjax Tex", "Times New Roman", Times, serif;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 30px;
  overflow: auto;
}

.Header {
  display: flex;
  justify-content: space-between;
}
.Title {
  margin: 10px 0px;
  font: {
    family: Roboto, sans-serif;
    size: #{$Large_font_size};
    weight: 400;
  }
}

.Sponsor {
  margin: 10px 0px;
  font: {
    family: Roboto, sans-serif;
    size: #{$Large_font_size};
    weight: 400;
  }
}

.Abstract {
  margin: 10px 0px;
  font: {
    family: Roboto, sans-serif;
    size: #{$small_font_size};
    weight: 300;
  }
}

.Body {
  margin: 10px 0px;
  font: {
    family: Roboto, sans-serif;
    size: #{$normal_font_size};
    weight: 400;
  }
}
